.skills-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 6rem 5%;
}

.skills-title {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 50px;
  position: relative;
  text-align: center;
  &:before {
    content: "";
    position: absolute;
    bottom: -0.7rem;
    left: 0;
    width: 100%;
    height: 0.35rem;
    border-radius: 1rem;
    background-image: linear-gradient(90deg, #9f55ff, #7000ff);
    box-shadow: 0 0 1rem #7000ff;
  }
}
.section-title {
  text-transform: capitalize;
  font-weight: 800;
  font-size: larger;
  margin: 20px;
}

.global-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.skills-icon {
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-two {
  display: flex;
  flex-direction: row;
}

.gsone {
  margin-right: 15px;
}

.gstwo {
  margin-left: 15px;
}

/* @media only screen and (max-width: 350px) {
  .skills-section {
    margin-top: 3rem;
  }
  .skills-title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .skills-icon {
    flex-direction: column;
    gap: 20px;
  }
  .skill-two {
    flex-direction: column;
  }
  .gsone,
  .gstwo {
    margin: 0;
  }
} */
